.bgimg{
    background-image: url(https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/10/02/Pictures/_25991394-048a-11eb-b559-b799cd4220ef.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center ;
    max-width:100%;
    padding-bottom: 600px;
    }
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}    
body{
    background-color: rgb(171, 219, 219);
}
.navbar{
    background-color: black;
    height: 50px;
    border-radius:10px ;

}
.navbar ul{
    overflow:auto;
    padding: 13px;
    }
.navbar li{
    float:left;
    list-style:none;
    margin: auto;
    
}
.navbar li a{
    padding: 30px 14px 28px 18px;
    text-decoration: none;
    color:beige;
    margin: 40px;
}
.navbar lia:hover{
    color:blue;
}
#right{
    float:right;
}
.search{
    float: right;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}